@font-face {
  font-family: "robotoregular";
  src: url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("./assets/fonts/roboto-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --section-gap: 2rem;
  --section-padding: 2rem;
  --title-gap: 1rem;
  --title-margin-top: 1.5rem;

  --color-text: #a8b3cf;
  --color-primary: #0e1217;
  --color-secondary: #1c1f26;
  --color-card-text: #ffffff;
}

body {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
}

/* Header */
.header {
  background-color: lightgreen;
  grid-column: 2;

  padding: 1.5rem 2.5rem;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

.account {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.account-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.search-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-section {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  gap: var(--section-gap);
}

.account-container {
  border: 1px solid darkmagenta;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--section-gap);
}

.user-info-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-info {
  border: 2px solid darkturquoise;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--section-gap);
  align-items: center;
}

.user-icon {
  grid-row: 1 / -1;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sidebar */
.sidebar {
  background-color: lightskyblue;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.logo {
  border: 1px solid darkred;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.nav-item {
  border: 1px solid darkred;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
}

/* Main Content */
.main-content {
  background-color: lightcoral;
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template: 1fr 1fr / 4fr 1fr;
  padding: var(--section-padding);
  gap: var(--section-gap);
}

/* Projects */
.projects-container {
  border: 1px solid black;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: var(--title-gap);
  margin-top: var(--title-margin-top);
}

.projects-items {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--section-gap);
}

.project-card {
  border: 1px solid black;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* Announcements */
.announcements-container {
  border: 1px solid black;
  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  gap: var(--title-gap);
  margin-top: var(--title-margin-top);
}

.announcements-items {
  flex: 1 auto;
  border: 1px solid black;
  padding: var(--section-padding);
}

.announcements-card:not(:last-child) {
  margin-bottom: 1.5rem;

  padding-bottom: 1.2rem;
  border-bottom: 1px solid black;
}

/* Trending items */
.trending-container {
  border: 1px solid black;
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  gap: var(--title-gap);
  margin-top: var(--title-margin-top);
}

.trending-items {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  padding: var(--section-padding);
  gap: var(--section-gap);
}

.trend-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--section-gap);
}
